.aelf-input-title {
    margin: 39px 0 0 0;
    color: #AFAFAF;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.aelf-input-container {
    padding: 0 28px 0 28px;
}

.am-list {
    background: rgba(255, 255, 255, 0);
}

.aelf-dash .am-list .am-list-body {
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid #E6E6E6;
}

/* aelf-dash-light start */
.aelf-dash-light .am-list .am-list-body {
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    font-size: 12px;
}

.aelf-dash-light .aelf-input-title {
    font-weight: 100;
}

.aelf-dash-light .am-list-item.am-input-item {
    height: 40px;
}

.aelf-dash-light .aelf-input-title {
    margin-top: 40px;
    margin-bottom: 0;
}

/* aelf-dash-light end */

.aelf-solid .am-list .am-list-body {
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}

.am-list .am-list-body .am-list-item {
    background: rgba(255, 255, 255, 0);
}

.am-list .am-list-body .am-list-item.am-input-item {
    padding-left: 0;
}

.am-list-item .am-input-control input {
    color: #252533;
    font-size: 24px;
    
    /* color: #000; */
    overflow: visible;
    font-size: 16px;
    appearance: none;
    width: 100%;
    padding: 2px 0;
    border: 0;
    background-color: transparent;
    line-height: 1;
    box-sizing: border-box;
    outline: none;

}
.am-list-item .am-input-control input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 16px;
}

.am-list-body::before {
    background: none !important;
}

.am-list-body::after {
    background: none !important;
}