.break {
    word-break: normal;
    color: #565161;
    font-weight: normal;
    font-size: 14px;
    font-family:  Helvetica Neue;
    line-height: 2;
}
.title {
    color: #252533;
    font-weight: 600;
    font-family: HelveticaNeue-Medium, HelveticaNeue;
}