.container {
    color: #252533;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.top {
    padding: 0 28px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    font-family: HelveticaNeue-Bold, HelveticaNeue;
}
.logo {
    margin-top: 54px;
    height: 84px;
    background: url(../../../assets/images/aelf_logo2X.png) center center no-repeat;
    background-size: 84px 84px;
}
.blank {
    margin: 58px 0 0 0;
}

.blank12 {
    height: 12px;
    width: 12px;
}

.welcome {
    font-size: 33px;
    margin: 14px 0 0px 0;
}

.wallet {
    font-size: 33px;
    margin: 0;
}

.description {
    font-size: 14px;
    margin: 0;
}

.bottom {
    //width: 80%;
    margin: 0 28px 50px;
}

.btn {
    border-radius: 100px;
}


// >>>>>>>> new Create style <<<<<<<<<

.createBottom {
    padding: 0 28px 20px 28px;
    background: #FFF;
}


// >>>>>>>>> agreement <<<<<<<<<

.agreementContent {
    word-break: break-all;
    word-wrap: break-word;
    font-size: 16px;
}

.walletAgree {
    font-size: 33px;
    line-height: 50px;
    font-weight: bold;
    margin: 34px 0 0 22px;
    background: url(../../../assets/images/aelf_logo2X.png) no-repeat;
    background-size: 50px 50px;
    text-align: left;
    text-indent: 59px;
}

.agreementBox {
    overflow: hidden;
    margin: 0;
    border: 1px solid white;
    height: 400px;
}

.agreementHead {
    height: 20px;
    background: #FFF;
}

.agreementContent {
    background: #F8F8F8;
    height: 380px;
    overflow-y: scroll;
    padding: 10px 20px;
    text-align: left;
}

.timeLock {
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    //background: rgba(0, 0, 0, .3);
    border: 1px solid #502EA2;
    position: relative;
    border-radius: 3px;
}

.select {
    position: absolute;
    background: #FFF;
    width: 100%;
    padding-right: 2px;
    top: 45px;
    left: -1px;
    border-radius: 0px 0px 3px 3px;
    border: 1px solid #C2C0C0;
}

.option {
    height: 24px;
    padding: 0 0 0 18px;
    line-height: 24px;
    color: black;
    cursor: pointer;
}

.option:hover {
    background: #F8F8F8;
    color: #502EA2;
    padding-right: 2px;
}

.label {
    padding: 0 0 0 18px;
}

.lockTip {
    color: #252533;
    margin-bottom: 14px;
    margin-top: 30px;
}

.uselessTriangle {
    width: 50px;
    //border-left: 1px solid #FFF;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    color: #999;
}