.container {
    //color: #FFF;
}

.top {
    padding: 0 24px 40px 24px;
}

.blank {
    padding: 13px 0 0 0;
}

.wallet {
    font-size: 36px;
    margin: 8px 0 8px 0;
    font-weight: 700;
}

.aelfList {
    margin: 0 24px;
    //border: 1px solid #FFF;
    //background: rgba(255, 255, 255, .3);
    border-radius: 4px;
    height: 36px;
    margin-bottom: 10px;
    cursor: pointer;
}

.whiteSapce {
    height: 80px;
}