.container {
    color: #252533;
}

.top {
    padding: 0 0 70px;
    text-align: center;
}
.logo {
    height: 84px;
    background: url(../../../assets/images/aelf_logo2X.png) center center no-repeat;
    background-size: 84px 84px;
}
.blank {
    padding: 56px 0 0 0;
}

.wallet {
    font-size: 33px;
    margin: 20px 0 0 0;
    font-weight: bold;
    line-height: 1;
    font-family: Helvetica Neue Bold;
}

.version {
    position: fixed;
    font-size: 14px;
    font-family: HelveticaNeue;
    color: #AFAFAF;
    line-height: 13px;
    font-weight: normal;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
}

.aelfList {
    margin: 0 28px 10px 31px;
    cursor: pointer;
}

.bottomSpace {
    height: 95px;
}