.container {
    color: #252533;
    min-height: 578px;
    background: #FFF;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: 0 10%;
}

.top {
    padding: 0 24px 24px 24px;
}

.blank {
    padding: 13px 0 0 0;
}

.wallet {
    font-size: 36px;
    color: #252533;
    margin: 8px 0 8px 0;
    font-weight: 700;
}

.permissionsTips {
    margin:0 24px 24px 24px;
    color: #e2e243;
}

.domain {
    font-size: 16px;
    margin: 0 24px 24px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 24px;
}

.buttons > div {
    width: 45%;
}

.confirmPermission {
    width: 700px;
}

.contrastTips {
    font-size: 18px;
    color: #e2e243;
    margin: 0 24px;
}
