.listContainer {
  display: flex;
  justify-content: space-between;
  height: 42px;
  line-height: 42px;
  align-items: center;
}

.listLeft {
  display: flex;
}

.listIconLeft {
  margin: 0 8px 0 0;
}

.moreIcon {
  width: 16px;
  height: 16px;
  background: url(../../assets/images/more2X.png) no-repeat;
  background-size: 16px;
}
/* */