.page {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	//background: url("../../../../assets/background/bg1_long.svg") no-repeat;
	background-color: #FFF;
}
@media (min-width: 768px) {
	.page {
		position: absolute;
		top: 0;
		z-index: 999;
		background-size: cover;
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.confirmContainer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1001;
	background: #FFF;
}

.privateContainer {
	word-wrap: break-word;
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	padding: 8px;
	margin: 25px 28px 28px;
	background: #FFFFFF;
	line-height: 1.5;
	height: 88px;
}

.privateContainer.purple {
	margin-top: 0;
}

.mnemonicListContainer {
	margin: 0 24px;
}

.whitespace {
	height: 45px;
	width: 10px;
}

.listItem {
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 5px;
    padding: 5px 8px 5px 8px;
}
.listItem:active {
	opacity: 0.5;
}

.listItem.selectd {
	border:  none;
	color: #252533;
	margin: 0;
}

.note {
	background-color: #ffd74e;
    border-radius: 3px;
    padding: 1px 15px 1px 15px;
    color: #333;
}

.top {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bottom {
	width: 80%;
	margin: 0 auto 50px 10%;
}