.keypairNickname {
    font-size: 14px;
}
.keypairAddress {
    font-size: 12px;
    word-break: break-all;
}

.listLeft {
    display: flex;
    align-items: center;
    text-align: left;
}

.logoContainer {
    height: 36px;
    width: 36px;
    border-radius: 8px;
    background: #FFF;
    overflow: hidden;
    margin: 0 12px 0 0;
}

.logoContainer img {
    height: 100%;
    width: 100%;
}

.listLeft .name {
    font-size: 14px;
}

.listLeft .description {
    font-size: 10px;
    font-weight: 100;
}

.listRight {
    text-align: right;
}

.listRight .balance {
    font-size: 14px;
    margin: 0;
}

.listRight .tenderValuation {
    font-size: 10px;
    font-weight: 100;
    margin: 0;
    line-height: 1.5;
}

/* .txList:last-child {
    border: none;
} */

// >>>>>>>>>>>>>>>>>>>>>
.walletInfo {
    height: 188px;
    color: #FFF;
    text-align: left;
    text-indent: 20px;
}

.balance {
    margin: 34px 0 0 0;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
}

.aelfValuation {
    //font-size: 44px;
    font-size: 40px;
}

.tenderValuation {
    margin: 12px 0 0 0;
    //font-size: 24px;
    font-size: 22px;
    font-weight: 100;
}

.tenderUnit {
    font-size: 14px;
}

.addressContainer {
    font-size: 12px;
    margin: 24px 0 0 0;
    display: flex;
    height: 14px;
    line-height: 14px;
}

.keypairBtnContainer {
    margin: 0 0 0 8px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
}

// >>>>>>>>>>>>>>>>>>>>>
.transactionList {
    flex: 1;
    height: 100%;
}

// >>>>>>>>>>>>>>>>>>>>>
.addBtnContainer {
    height: 60px;
    width: 100%;
}

.addBtn {
    display: inline-block;
    float: right;
    height: 24px;
    width: 24px;
    background: url("../../../assets/svg_icon/add40.svg") no-repeat;
    background-size: cover;
    margin-right: 20px;
}

.addBtn:active {
    opacity: 0.7;
}

.textarea {
    position: fixed;
    top: -250px;
}

// >>>>>>>>>>>>>>>>>>>>

.keypairButton {
    background: #FFF;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 12px;
    color: #3D55CC;
    cursor: pointer;
}

.top {
    padding: 0 28px 28px 28px;
}

.blank {
    padding: -1px 0 0 0;
}

.wallet {
    font-size: 24px;
    color: #252533;
    margin: 0;
    font-weight: bold;
    line-height: 1;
}

.functionButton {
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
}


.background {
    /*box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1), inset 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 3px 0 rgba(0, 0, 0, 0.1); */
    border-radius: 3px;
    margin: 22px 28px;
    padding: 10px;
    background: #F8F8F8;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.txList {
    padding: 10px 16px 16px 16px;
    background: #FFF;
    border-radius: 8px;
    margin:7px;
    color: #252533;
    align-items: center;
    position: relative;
    overflow: hidden;
    word-break: break-all;
    border: 1px solid #DFDFDF;
}

.buttonManage {
    vertical-align: middle;
    display: flex;
    //justify-content: flex-end;
    //width: 50%;
}

.button {
    display: flex;
    font-size: 12px;
    margin: 0 2px 8px 2px;
    color: #FFF;
    cursor: pointer;
    background: #502EA2;
    border-radius: 3px;
    padding: 6px 5px;
}

.delete {
    background: #F43160;
}

.operationContainer {
    //display: flex;
    vertical-align: middle;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    border-bottom: 1px solid #DFDFDF;
}

.operationList {
    display: flex;
    font-size: 16px;
    //width: 50%;
    font-weight: 700;
    margin: 0 0 8px 0;
    //width: 90px;
    //flex: 1;
}

// pannel
.pannelTitle {
    height: 35px;
    line-height: 35px;
    text-align: left;
    text-indent: 24px;
    border-bottom: 0.5px solid #F2F2F2;
    color: #ADAAB3;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 8px 0 0;
}

.addCustomChain {
    text-indent: 0px;
    padding: 0 8px 0 8px;
    /* width: 130px; */
    color: #FFF;
    margin: 5px 0 0 0;
    height: 24px;
    line-height: 24px;
    background: #502EA2;
}

.chainList {
    color: #333;
    height: 200px;
    overflow: scroll;
    //background: #EEE;
}

.chainItem:hover {
    //background: #AC00E6 !important;
    background: #EEE !important;
}

.chainText {
    color: #333 !important;
    display: flex;
    justify-content: space-around;
}

.chainDiv {
    width: 100px;
    height: 32px;
    line-height: 32px;
    margin: 4px 0 4px 0;
    text-align: center;
}

.chainCustomPrefix {
    font-size: 10px;
    color: #999;
}

.keypairsAddress {
    font-size: 10px;
    font-family: HelveticaNeue;
    color: #999999;
    line-height: 15px;
    padding-top: 6px;
}