.asstes-container .am-list-body {
    background: none;
    border: none;
}

.asstes-container .am-list-view-scrollview-content {
    width: 100%;
}

.chain-add-modal .am-list-item .am-input-label.am-input-label-5 {
    font-size: 12px;
    text-align: right;
}

.chain-add-modal .am-list-item .am-input-control input{
    font-size: 14px;
    color: #333;
}
