.contractList {
    margin: 24px;
    padding: 12px;
    border-radius: 3px;
    background: #F8F8F8;
    height: 244px;
    overflow: auto;
}

.contractInfoList {
    word-break: break-all;
    word-wrap: break-word;
    margin: 8px 0;
    padding: 12px;
    border-radius: 3px;
    background: #FFF;
}

.contractTitle {
    display: flex;
    color: #999;
}

.contractName {
    color: #999;
    min-width: 110px;
    text-align: right;
}


