.contractList {
    margin: 24px;
    padding: 12px;
    border-radius: 20px;
    background: rgba(0, 0, 0, .3);
    height: 244px;
    overflow: auto;
}

.contractInfoList {
    word-break: break-all;
    word-wrap: break-word;
    margin: 24px 0;
    padding: 12px;
    border-radius: 20px;
    background: rgba(255, 255, 255, .3);
}

.contractTitle {
    display: flex;
}

.contractName {
    color: #e6e73e;
}


