.note {
  padding: 0 24px;
  border-radius: 3px;
  color: #FFAA00;
  font-size: 12px;
  //flex: 1;
}
.note p {
  margin-bottom: 0;
  word-break: break-all;
}

.mainTitle {
  font-size: 28px;
  color: #FFF;
  padding: 0;
  margin: 0 0 16px 0;
}

.subTitle {
  color: #FFF;
  margin: 0 0 32px 0;
}
.noticeIcon {
  margin: 32px 0 0 0;
}
.subNoticeIcon {
  display: flex;
  line-height: 16px;
  margin: 12px 0 32px 0;
}
