.note {
  padding: 0 24px;
  border-radius: 3px;
  color: #F43966;
  font-size: 12px;
  //flex: 1;
}
.note p {
  margin-bottom: 0;
  word-break: break-all;
}

.mainTitle {
  font-size: 28px;
  color: #252533;
  padding: 0;
  margin: 0 0 16px 0;
}

.subTitle {
  color: #AFAFAF;
  margin: 0 0 17px 0;
}
.noticeIcon {
  margin: 32px 0 0 0;
  width: 27px;
  height: 27px;
  background: url(../../assets/images/notice2X.png) no-repeat;
  background-size: 27px 27px;
}
.subNoticeIcon {
  display: flex;
  line-height: 16px;
  margin: 12px 0 32px 0;
}
